// These colors are specific to the theme. Do not use in a package!

$blue: #00bcd3;
$blue-dark: #7b99a1;
$brown: #dba071;
$green: #84be5c;
$green-dark: #57b565;
$pink: #ce54a9;
$purple: #9a97d3;
$red: #ea5d5e;
$red-light: #dba071;
$violet: #8857d2;
$violet-light: #ab81e8;

$gray: #60c66e;
$gray-light: #f5fcff;
$white: #ffffff;